USE [TetroPAY_198]
GO
/****** Object:  UserDefinedTableType [dbo].[TVP_EmployeeDetails]    Script Date: 13-12-2024 21:45:33 ******/
CREATE TYPE [dbo].[TVP_EmployeeDetails] AS TABLE(
	[EmployeeId] [int] NULL,
	[EmployeeCompanyId] [nvarchar](100) NULL,
	[EmployeeImage] [nvarchar](4000) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[OfficialEmail] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[Zipcode] [nvarchar](100) NULL,
	[ContactNo] [nvarchar](100) NULL,
	[DateOfJoining] [nvarchar](100) NULL,
	[BranchName] [nvarchar](50) NULL,
	[DepartmentName] [nvarchar](50) NULL,
	[DesignationName] [nvarchar](50) NULL,
	[ReportingPersonName] [nvarchar](50) NULL,
	[UserGroupName] [nvarchar](50) NULL,
	[EmployeeType] [nvarchar](50) NULL,
	[CardNumber] [nvarchar](100) NULL,
	[AttendanceMachineName] [nvarchar](50) NULL,
	[IsLoginUser] [bit] NULL,
	[GenderName] [nvarchar](50) NULL,
	[DateOfBirth] [nvarchar](100) NULL,
	[ReligionName] [nvarchar](50) NULL,
	[MaritalStatusName] [nvarchar](50) NULL,
	[Nationality] [nvarchar](50) NULL,
	[PersonalEmail] [nvarchar](100) NULL,
	[AadharNo] [nvarchar](100) NULL,
	[PANNo] [nvarchar](100) NULL,
	[EmployeeBankName] [nvarchar](100) NULL,
	[AccountTypeName] [nvarchar](100) NULL,
	[AccountName] [nvarchar](100) NULL,
	[AccountNumber] [nvarchar](100) NULL,
	[IFSCCode] [nvarchar](100) NULL,
	[PayTypeName] [nvarchar](100) NULL,
	[PaymentTypeName] [nvarchar](100) NULL,
	[CTC] [numeric](11, 2) NULL,
	[UANNumber] [nvarchar](100) NULL,
	[PFNumber] [nvarchar](100) NULL,
	[EmployeeESINumber] [nvarchar](100) NULL
)
GO
