USE [TetroPAY_198]
GO
/****** Object:  Table [dbo].[NotificationDetails]    Script Date: 13-12-2024 21:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationDetails](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationModuleRefId] [int] NULL,
	[NotificationTypeName] [nvarchar](50) NULL,
	[IsInternal] [bit] NULL,
	[MessageTo] [nvarchar](50) NULL,
	[DetailedMessage] [nvarchar](500) NULL,
	[MessageStatusId] [tinyint] NULL,
	[ScheduledDate] [datetime] NULL,
	[EmployeeId] [int] NULL,
	[SMSStatus] [nvarchar](50) NULL,
	[NotificationStatus] [nvarchar](50) NULL,
	[SMS_To] [nvarchar](50) NULL,
	[IsAuto] [bit] NULL,
	[CompanyId] [tinyint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_NotificationDetails_NotificationId] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NotificationDetails] ADD  CONSTRAINT [DF_NotificationDetails_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NotificationDetails] ADD  CONSTRAINT [DF_NotificationDetails_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[NotificationDetails]  WITH CHECK ADD  CONSTRAINT [FK_NotificationDetails_CompanyDetails_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[CompanyDetails] ([CompanyId])
GO
ALTER TABLE [dbo].[NotificationDetails] CHECK CONSTRAINT [FK_NotificationDetails_CompanyDetails_CompanyId]
GO
ALTER TABLE [dbo].[NotificationDetails]  WITH CHECK ADD  CONSTRAINT [FK_NotificationDetails_MessageStatusDetails_MessageStatusId] FOREIGN KEY([MessageStatusId])
REFERENCES [dbo].[MessageStatusDetails] ([MessageStatusId])
GO
ALTER TABLE [dbo].[NotificationDetails] CHECK CONSTRAINT [FK_NotificationDetails_MessageStatusDetails_MessageStatusId]
GO
