USE [TetroPAY_198]
GO
/****** Object:  Table [dbo].[MessageStatusDetails]    Script Date: 13-12-2024 21:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageStatusDetails](
	[MessageStatusId] [tinyint] IDENTITY(1,1) NOT NULL,
	[MessageStatusName] [nvarchar](50) NOT NULL,
	[MessageStatusDescription] [nvarchar](100) NOT NULL,
	[CompanyId] [tinyint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_MessageStatusDetails_MessageStatusId] PRIMARY KEY CLUSTERED 
(
	[MessageStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_MessageStatusDetails_MessageStatusName_CompanyId] UNIQUE NONCLUSTERED 
(
	[MessageStatusName] ASC,
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MessageStatusDetails] ADD  CONSTRAINT [DF_MessageStatusDetails_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MessageStatusDetails] ADD  CONSTRAINT [DF_MessageStatusDetails_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MessageStatusDetails]  WITH CHECK ADD  CONSTRAINT [FK_MessageStatusDetails_CompanyDetails_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[CompanyDetails] ([CompanyId])
GO
ALTER TABLE [dbo].[MessageStatusDetails] CHECK CONSTRAINT [FK_MessageStatusDetails_CompanyDetails_CompanyId]
GO
