USE [TetroPAY_198]
GO
/****** Object:  Table [dbo].[EmployeeESIDetails]    Script Date: 13-12-2024 21:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeESIDetails](
	[EmployeeESIId] [tinyint] IDENTITY(1,1) NOT NULL,
	[IsESIApplicable] [bit] NOT NULL,
	[EmployeeESINumber] [nvarchar](100) NOT NULL,
	[EmployeeESIContribution] [numeric](11, 2) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_EmployeeESIDetails_EmployeeESIId] PRIMARY KEY CLUSTERED 
(
	[EmployeeESIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeESIDetails] ADD  CONSTRAINT [DF_EmployeeESIDetails_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeeESIDetails] ADD  CONSTRAINT [DF_EmployeeESIDetails_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EmployeeESIDetails]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeESIDetails_EmployeeDetails_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeESIDetails] CHECK CONSTRAINT [FK_EmployeeESIDetails_EmployeeDetails_EmployeeId]
GO
