USE [TetroPAY_198]
GO
/****** Object:  Table [dbo].[Input]    Script Date: 13-12-2024 21:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Input](
	[LoginUserId] [int] NULL,
	[EmployeeId] [int] NULL,
	[Date] [datetime] NULL,
	[CreatedTime] [datetime] NULL
) ON [PRIMARY]
GO
